<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h3 class="display-6">Welcome to the AGILE TypeScript Coding Challenge!</h3>

            <select
                class="form-control mt-4"
                name="challengePicker"
                id="#challengePicker"
                (change)="onCurrentChallengeChange()"
                [(ngModel)]="currentChallenge">
                <option
                    disabled
                    [value]="null">
                    -- Select a Challenge --
                </option>
                <option
                    *ngFor="let challenge of challenges"
                    [ngValue]="challenge">
                    {{challenge.title}}
                </option>
            </select>

            <h5
                class="mt-4"
                *ngIf="currentChallenge">
                {{currentChallenge.description}}
            </h5>

            <!-- CHALLENGE ONE -->
            <ng-container *ngIf="currentChallenge?.challengeIndex == 0">
                <app-challenge-wrapper>
                    <app-challenge-one></app-challenge-one>
                </app-challenge-wrapper>
            </ng-container>

            <!-- CHALLENGE TWO -->
            <ng-container *ngIf="currentChallenge?.challengeIndex == 1">
                <app-challenge-wrapper>
                    <app-challenge-two></app-challenge-two>
                </app-challenge-wrapper>
            </ng-container>
            

            <!-- CHALLENGE THREE -->
            <ng-container *ngIf="currentChallenge?.challengeIndex == 2">
                <app-challenge-wrapper>
                    <app-challenge-three></app-challenge-three>
                </app-challenge-wrapper>
            </ng-container>
        </div>
    </div>
</div>
